<style>
        body {
            background-color: #f9fafb;
        }
        .navbar-custom {
            background-color: #0d6efd;
            z-index: 1050;
            position: relative;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffffff;
        }
        .navbar-custom .nav-link:hover {
            color: #d1d5db;
        }
        .card {
            border: none;
        }
        .card-title {
            font-size: 1.75rem;
            font-weight: 600;
        }
        .form-label {
            font-weight: 500;
        }

        .btn-primary:hover {
            background-color: #4338ca;
            border-color: #4338ca;
        }
        .textarea-container {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        #modifications {
            width: 100%;
            max-width: 600px;
            min-width: 300px;
            height: auto;
            resize: vertical; /* Allows vertical resize */
            border-radius: 8px;
            padding: 10px;
            box-sizing: border-box;
        }
</style>