{% extends 'agents/base_response.html' %}
{% block title %}Project Understanding{% endblock %}
{% block body %}
<h2 class="card-title text-center mb-4">Project Understanding</h2>
<div class="mb-4">
    {% load markdown_extras %}

    <p class="form-text">
    <div class="markdown-content" id="markdown-content">
        {{ data|markdown }}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
  $('#update-content').click(function(){
    let changes = $('#modifications').val();
    let original = $('#markdown-content').text();
    $.ajax({
      type: "POST",
      url: "/prepare_understanding/",
      data: {
        user_input: changes,
        original_text: original,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      beforeSend: function() {
        $('#spinner-overlay').show();
      },
      complete: function() {
        $('#spinner-overlay').hide();
      },
      success: function(data) {
        $('#markdown-content').html(data.data);
        $('#modifications').val('');
        $('#messages').innerText = data.messages;
      },
      error: function(xhr, status, error) {
        console.error("Error:", error);
      }
    });
  });
</script>
{% endblock %}
